{% extends "./base.html" %}  

{% block title %}Galería - Biodiversidad{% endblock %}

{% block body %}  
<section id="galeria">
    <h2>Galería de la biodiversidad en Soacha Cundinamarca</h2>
   <div class="contenedor1">
    <img class="imagen_BIO" src="/static/Imagenes_multimedia/Medio_ambiente.jpg" alt=" medio ambiente">
    <div class="text">Invitamos a todos los Soachunos a que cuidemos nuestros recursos naturales, sin estos recursos la vida seria muy
        corta
     </div>
    </div>
</section>
<section>
    <h3>Humedales y Lagunas</h3>
    <div class="contenedor">
        <img class="foto" src="/static/Imagenes_multimedia/laguna.jpeg" alt="laguna">
        <img class="foto" src="/static/Imagenes_multimedia/El_salto.jpg" alt="el salto">
        <img class="foto" src="/static/Imagenes_multimedia/reserva_natural.jpg" alt="reserva natural">
        <img class="foto" src="/static/Imagenes_multimedia/humedales.jpeg" alt="Humedal">
        <img class="foto" src="/static/Imagenes_multimedia/Chicaque.jpeg" alt="Parque natural Chicaque">
        <img class="foto" src="/static/Imagenes_multimedia/Rio.jpeg" alt="Rio">
    </div>
</section>
<section>
    <h3>Flora</h3>
    <div class="contenedor">
        <img class="foto" src="/static/Imagenes_multimedia/Cactus.jpeg" alt="Cactus endemico">
        <img class="foto" src="/static/Imagenes_multimedia/flor_morada.jpeg" alt="Flor morada">
        <img class="foto" src="/static/Imagenes_multimedia/Flor_roja.jpeg" alt="Flor roja">
        <img class="foto" src="/static/Imagenes_multimedia/Frailejon.jpeg" alt="Frailejon">
    </div>
</section>

<section>
    <h3>Fauna</h3>
    <div class="contenedor">
        <img class="foto" src="/static/Imagenes_multimedia/Ave.jpeg" alt="Ave">
        <img class="foto" src="/static/Imagenes_multimedia/Ave_de_colores.jpeg" alt="ave de colores">
        <img class="foto" src="/static/Imagenes_multimedia/Buho.jpeg" alt="buho">
        <img class="foto" src="/static/Imagenes_multimedia/oso_perezoso.jpeg" alt="oso perezoso">
        <img class="foto" src="/static/Imagenes_multimedia/pajaro.jpeg" alt="pajaro">
    </div>
</section>

{% endblock %}
