{% extends "./base.html" %}  

{% block title %}Inicio - Biodiversidad en Soacha{% endblock %} 

{% block body %}  
<section id="inicio">
    <h2>¡Bienvenido!</h2>
    <div class="contenedor">
        <img class="imagen" src="../static/Imagenes_multimedia/centro_de_soacha.jpg" alt="Soacha">
        <div class="texto">
            <p>¡Bienvenido al municipio de Soacha Cundinamarca! Soacha es el municipio más poblado del
                departamento de Cundinamarca en Colombia.<br> Su área es de 184 km², y su población es de 808
                288.
                Su área urbana está conurbada con la de Bogotá, siendo parte de su área metropolitana. Un lugar
                de
                alto crecimiento
                urbanístico, económico,
                pero también con una gran biodiversidad.<a
                    href="https://es.wikipedia.org/wiki/Soacha">Wikipedia</a>
            </p>

        </div>
    </div>
    <p>Descubre la increíble biodiversidad que ofrece Soacha Cundinamarca.<br><a
        href="https://issuu.com/jpintoz/docs/2010_ariza_et_soachabiodiv-carflfaumpiosoacmca_udf">Dar clic
        aquí</a></p>


    <p>Para más información sobre la biodiversidad en Soacha, puedes visitar nuestra sección de Ecosistema o ver la Galería para imágenes espectaculares.</p>
</section>

<section id="ecosistema">
    <h2>Conservación y Preservación</h2>
    <h3>Paramo de Soacha</h3>
    <div class="contenedor">

        <img class="imagen" src="/static/Imagenes_multimedia/Paramo_de_Soacha.jpeg" alt="">
        <div class="texto">
            <article>Es bien dicho que Colombia es uno de los países con mayor biodiversidad en el mundo, dentro de
                su gran
                potencial ambiental se encuentra el páramo, un ecosistema único en el planeta debido a que está
                ubicado
                justo en la zona ecuatorial del globo terráqueo, su importancia reside en que es la maravilla de la
                naturaleza que abastece de agua dulce a la mayor parte de colombianos.

                En el siguiente vídeo usted conocerá un poco del páramo Sumapaz, considerado el más grande del
                mundo, en
                este caso desde Soacha Cundinamarca, un municipio que posee parte del ecosistema y que al día de hoy
                lucha
                por protegerlo de graves afectaciones ambientales como la minería y deforestación, los detalles a un
                click:<a href="https://youtu.be/5sHksdbLtLI?si=COWI8BkVJOoBGUzv">video</a>
            </article>
        </div>
    </div>

    <h3>Humedales de soacha</h3>
    <div class="contenedor">
        <img class="imagen" src="/static/Imagenes_multimedia/Humedal_Soacha.jpeg" alt="Humedal de Soacha">
        <div class="texto">
            <p>
            <article>El desarrollo de los humedales en la Sabana de Bogotá se ha constituido en el sistema de
                tierras húmedas más
                importante del norte de la cordillera de los Andes siendo este una importante reserva de fauna y
                flora para
                la ciudad de Soacha.

                Debido a la expansión del perímetro urbano de Bogotá hacia el municipio y el cambio constante de la
                vocación
                de tierras1 (nativas a agropecuarias y estas a urbanizables),2 sumado a la contaminación de sus
                aguas,
                algunos se encuentran ya en franco deterioro,3 sumado a la débil autoridad del municipio en
                protegerlos por
                lo que su conservación a menudo es dirigido por la Corporación Autónoma Regional de Cundinamarca
                CAR:<a href="https://es.wikipedia.org/wiki/Humedales_de_Soacha">Wikipedia</a></p>

                <a href="https://youtu.be/2TTwsESIQBE?si=Ghn4EgugONUiN6ug"> recuperacion de los humedales</a>
            </article>
        </div>
    </div>
    <div>
        <p><b>Soacha cuenta con 14 humedales</p></b>
        <ul>
            <li>Humedal Tibanica</li>
            <li>Humedal de Neuta</li>
            <li>Humedal de Tierra Blanca </li>
            <li>Humedal de el Vinculo</li>
            <li>Humedal de cola Tierra Blanca</li>
            <li>Humedal la Muralla</li>
            <li>Humedal el Cajon</li>
            <li>Humedal Chucuita</li>
            <li>Humedal El Charquito</li>
            <li>Humedal o laguna-represa de Terreros</li>
            <li>Humedal Meandro de Tierra Blanca (Canoas-Indumil)</li>
            <li>Humedal Meandro de Tequendama</li>
            <li>Humedales de Ricatama</li>
            <li>Humedal Potrero grande</li>

        </ul>
    </div>
</section>
<section id="galeria">
    <h2>Galería</h2>
    <div class="contenedor">
        <img class="imagen" src="/static/Imagenes_multimedia/Ave.jpeg" alt="Ave" />
        <div class="texto">
            <p>
                <b>Tangara</b> es un género de aves paseriformes perteneciente a la familia Thraupidae
                que
                agrupa a numerosas
                especies nativas de la América tropical. Donde se distribuyen desde la costa caribeña de Guatemala,
                ...<a href="https://es.wikipedia.org/wiki/Tangara"> Wikipedia,</a>
            </p>
        </div>
    </div>
    <p>Explora imágenes fascinantes de la biodiversidad en Soacha Cundinamarca.</p>
    <ul>
        <li><a href="/galeria">Galeria</a></li>
    </ul>
    
</section>
<section id="/contacto">
    <h2>Contacto</h2>
    <p>Contáctanos directamente enviando un correo electronico</p>
    <a href="/contacto">Ir al formulario de contacto</a>
</section>



{% endblock %}
